#section {
	margin-top: 200px;
	font-family: 'Press Start 2P', cursive;
}

#subsection {
	margin-top: 0px;
	font-family: 'Press Start 2P', cursive;
	height: 140px;
}

#menu {
	width: 400px;
	margin-top: 70px;
}

#submenu {
	margin-top: 10px;
	width: 400px;
}
::selection {
	color: none;
	background: none;
}

.menuitem {
	display: inline-block;
	height: 50px;
}

#photos {
	width: 1000px;
}

img {
	width: 1000px;
	mix-blend-mode: multiply;
}

body {
	background-image: url("../images/all/background3.png");
	background-size: 100px 100px;
}

a {
	text-decoration: none;
	color: brown;
}

a:hover {
	color: salmon;
}

body {
	background-color: floralwhite;
}

h1 {
	color: maroon;
}

#dropshadow {
	mix-blend-mode: multiply;
	opacity: 40%;
}

#leftgradient {
	width: 10%;
	opacity: 40%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 100;
	background: rgb(12,19,2);
	background: linear-gradient(90deg, rgba(12,19,2,1) 0%, rgba(0,0,0,0) 100%);
}

#rightgradient {
	width: 10%;
	opacity: 40%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 100;
	background: rgb(12,19,2);
	background: linear-gradient(270deg, rgba(12,19,2,1) 0%, rgba(0,0,0,0) 100%);

	}

.homebutton {

	background-image: url("../images/all/home.png");
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	height: 40px;
	width: 40px;
	left: 3%;
	top: 5%;
	z-index: 990;
	position: absolute;
	transition: .3s;
}

.homebutton:hover {
	transform: scale(1.08);
	transition: .3s;
}

.nextarrow {

	background-image: url("../images/all/rightarrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	height: 40px;
	width: 30px;
	right: 10%;
	top: 53%;
	z-index: 5;
	position: absolute;


}

.backarrow {

background-image: url("../images/all/leftarrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	height: 40px;
	width: 30px;
	left: 10%;
	top: 53%;
	z-index: 5;
	position: absolute;
}

#title {
	background-image: url("../images/all/title.png");
	width: 720px;
	height: 120px;
	margin-top: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .8;

}


#book {
	width: 1100px;
	height: 670px;
	position: relative;
	margin: auto;

}

img.pages {
	width: 1100px;
	mix-blend-mode: normal;
}

#slider {
	border: 2px red solid;
	height: 100px;
	width: 500px;
	text-align: left;
	line-height: 100px;
	font-size: 50px;
	display: block;
	z-index: 20;
}

.pages {
	position: absolute;
	left: 0;
	top: 0;
}

#toppage {
	z-index: 20;
}

#forestbackground {
	z-index: 15;
}

#backpages {
	z-index: 1;
}




/*----------slider stuff-----------*/

.line {
  width: 210px;
}

.texthider {
	width: 1100px;
	height: 450px;
/*	border: 1px solid red;*/
	position: relative;
	z-index: 20;
	top: 40px;
	left: 0px;
	overflow: hidden;
}

.cheesedrop {
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 18
}

#cheesedropping {
	width: 1100px;
}


#rotatep2 {
	transform: rotate(90deg);

}

input.progress {
  cursor: ns-resize;
}

input.progress[value] {
  position: relative;
  width: 100%;
  height: 27px;
  -webkit-appearance: none;
  background-color: transparent;
}

input.progress[value]:focus {
  outline: none;
}

input.progress[value]:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 1px;
}

input.progress[value]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("../images/all/pulltab_right.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 130px;
  height: 92px;
}

.demo-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 90px;
    left: 20px;
   
}

#sliderhider {
	
	width: 200px;
	height: 130px;
	position: relative;
	left: 900px;
	z-index: 30;
	top: 610px;
    left: 677px;
    overflow: hidden;
   /*border: 1px solid red;*/

}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

#flippy {
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}




